$fuente-tipica: 'Raleway', sans-serif;
$color-letra: #9999B4;
$color-fondo: black;

*{
	text-decoration: none;

	list-style: none;
}

body{

	font-size:20px;
	font-family: $fuente-tipica;
    font-style: italic;
    
    h1{
        color:$color-letra ;
        text-shadow: 1px  #999;
        text-align: center;
    }
    
    h2{
        text-align: center;
    }
   

    p{
        text-align: center;
    }
    a{
        text-align: center;
        display: inline-block;
        widows: 100%;
    }
    footer{
        background-attachment: black;
        font-size: 15px;
        float: none;
        clear: both;
    
    }
    
}



.trip{
	width: 650px;
	height:330px;
	float: right; 
	padding: 30px;
	border: solid white;
	margin: right 30px;
}

.fama {
    p{
	width: 650px;
	height:600px;
	float: right; 
	padding: 30px;
	border: solid white;
}
}

.foto{

max-width: 40%;
float: left;
margin-top:40px;
display: inline-block;
}


#menu{
    display: inline-block;
    color: $color-letra;
    font-size: 13px;
    flex-wrap: wrap;
ul li a{
    color: $color-fondo;
    justify-content: center;
}
ul li{
/*display: inline-block;*/
display: inline;
float: left;
padding: 7px;
margin-left: 180px;
}
}