*{
    text-decoration: none;

    list-style: none;
}

body{

    background: white;
    font-size:20px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    margin: 0%;
    
}


h1{
    color:#9999B4;
    text-shadow: 1px  #999;
    text-align: center;
    margin: 3.5rem;


}

h2{
    text-align: center;
}
td{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

#menu{
    background: #333333;
    
}

#menu ul li {
    display: block;
    float: left;
    padding: 26px;
    margin-left: 8%;

}

#menu ul li a{
    color:white;
}

#menu ul li:hover {
    background-color: black;
    cursor: pointer;
}

#menu ul li:hover a{
    color:white;
    text-decoration: none;

}


p{
    text-align: center;
    
}

a{
    text-align: center;
    display: inline-block;
    
}

table{
    margin: auto;
    height: 150px;
    width:  700px;
    border: 150px;

}

footer{
    font-size: 15px;
    float: none;
    clear: both;
    width: 100%;
    background-color:#333333 ;
    color: white;
    margin: 0%;

}

#video{
    
    margin-top: 30px;
    display:flex;
    padding: 104px;
    flex-wrap: wrap;
}

.caja{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 20px;
    margin: 34px;
    animation-name: videito; 
    animation-duration: 2s;
    animation-iteration-count: 4s;


}

@keyframes videito{
    0%{
        transform: rotate(0deg);
        border-radius: 999px;

    }
    50%{
        transform: rotate(360deg);
        border-radius: 999px;
    

    }

    100%{
        transform: rotate(360deg);
        border-radius: 999px;
    }


}

.caja img{
    width: 500px;
    height: 300px; 
    border-radius: 999px;
}
.caja a{
    background:#333333;
    color:white; 
    cursor: pointer;
    border-radius: 1200px

}

.caja a:hover{
    background:black;
    transform: scale(1.70);
    ;
}

.caja img:hover{
    transform: scale(1.0);
    
}

.foto{

max-width: 40%;
float: left;
margin-top:40px;
padding: 20px;


    
}



.trip{
    width: 650px;
    height:330px;
    float: right; 
    padding: 64px;
    border: solid white;
    margin: right 30px;
}




.fama p{
    width: 650px;
    height:600px;
    float: right; 
    padding: 30px;
    border: solid white;
}


.fiesta{
    
    width: 70%;
    margin: auto;
    display: block;
    padding-top: 40px;
}


.layout{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 40% 60%;
    grid-gap: 7px;
    
}


.fecha1{
    grid-column-start: 1;
    grid-column-end: 4;
}

.fecha1 img{
    width: 100%;
	height: 100%;
	padding: 0%;
	margin: 0px;
}

.fecha2{
    grid-column-start: 1;
    grid-column-end: 2;

}


.fecha2 img{
    height: 99%;
    width: 100%;
    

}



.fecha3 table{
    border: 2px solid black;
    height: 99%;
    width: 709px;

}

.playlist{
    padding: 0%;
}




.col-6{
    text-align: center;
}



@media (max-width: 576px){
    #menu ul li {
    justify-content: space-between;
    margin-left: 36%;
    display: flex;
    float: initial;
    margin-top: 18px;
}
#menu ul li {
    margin-left: 36%;
}

    #video{
    padding: 16px;
    margin-top: 4px;
}

    h1{
    margin: 2.5;
}
    p{
    margin: 10px;
}
    .caja img{
    width: 100%;
    height: 200px; 
    border-radius: 999px;
}

    .foto{

    max-width: 100%;
    float: left;
    margin-top:40px;
    padding: 0px;
}   
    .trip{
    width: auto;
    height:auto;
    float: right; 
    padding: 10px;
    border: solid white;
    margin: right 30px;
}

    .fama p{
    width: 90%;
    height:100%;
    padding: 0px;
    margin-top: 10px;
    border: solid white;
    margin:21px;
}
.layout{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    padding: 0px;
    
}
.fecha1{
    grid-column-start: 1;
    grid-column-end:3;
}

.fecha2{
    grid-column-start: 1;
    grid-column-end:3;

}

.fecha3{
    grid-column-start: 1;
    grid-column-end: 3;
}
.fecha3 table{
    width: 395px;
    height: 320px; 
}
}

@media (max-width: 768px){
nav{
    width: 100%;
}

#menu ul li{
    height: auto;
    padding: 0px;
    
    
}

.trip{
    width: auto;
    height:auto;
    float: right; 
    padding: 10px;
    border: solid white;
    margin: right 30px;
}

    .fama p{
    width: 90%;
    height:100%;
    padding: 0px;
    margin-top: 10px;
    border: solid white;
    margin:21px;
    }
.foto{
    max-width: 100%;
    float: left;
    margin-top: 40px;
    padding: 0px;
    padding: 0px;
}
.video{
    padding: 79px;
}
.caja{
    margin: 9px;
}
.fecha3 table{
    width: 371px;
}

}

@media (min-width: 1583px){
    .foto {
        max-width: 40%;
        float: left;
        margin-top: 46px;
        padding: 20px;
    }

    .trip {
        width: 650px;
        height: 330px;
        float: right;
        padding: 104px;
        border: solid white;
        margin: right 30px;
    }
    .fama{
        padding: 0px;
    }
    .fama p{
        padding: 104px;
    }
    .fecha3 table {
        width: 778px;
    }
}



@media (max-width: 991.98px){

    .caja {
        padding: 116px;
}

#video {
    margin-top: 0px;
}
#menu ul li {
    margin-left: 4%;
}
.foto {
    max-width: 100%;
    float: left;
    margin-top: 21px;
    padding: 20px;
    padding: 0;
}
.trip {
    width: 90%;
    height: 248px;
    float: right;
    padding: 48px;
}
.fama p {
    justify-content: center;
    width: 99%;
    height: 455px;
    float: right;
}

.fecha3 table {
    border: 2px solid black;
    height: 99%;
    width: 487px;
}

}
